<%= form_with(model: restaurant) do |form| %>
  <% if restaurant.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>
      <ul>
        <% restaurant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", style: "width: 500px;" %>
  </div>

  <div class="mb-3">
    <%= form.label :location %>
    <%= form.text_field :location, class: "form-control", style: "width: 500px;" %>
  </div>

  <div class="mb-3">
    <%= form.label :initial_vote, "Your opinion on check splitting:" %><br>
    <%= form.radio_button :initial_vote, "will_split" %>
    <%= form.label :initial_vote_will, "Will Split" %><br>
    <%= form.radio_button :initial_vote, "wont_split" %>
    <%= form.label :initial_vote_wont, "Won't Split" %>
  </div>

  <%= form.submit "Create Restaurant", class: "btn btn-dark" %>
<% end %>