<%= form_with(model: restaurant) do |form| %>
  <% if restaurant.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>
      <ul>
        <% restaurant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", style: "width: 500px;" %>
  </div>

  <div class="mb-3">
    <%= form.label :address, "Address" %>
    <%= form.text_field :address, class: "form-control", placeholder: "Enter address", style: "width: 500px;" %>
  </div>

  <div class="mb-3">
    <%= form.label :city, "City" %>
    <%= form.text_field :city, class: "form-control", placeholder: "Enter city", style: "width: 500px;" %>
  </div>

  <div class="mb-3">
    <%= form.label :state, "State" %>
    <%= form.text_field :state, class: "form-control", placeholder: "Enter state", style: "width: 500px;" %>
  </div>

  <div class="mb-3">
    <%= form.label :zip, "Zip Code" %>
    <%= form.text_field :zip, class: "form-control", placeholder: "Enter zip code", style: "width: 500px;" %>
  </div>

  <%= form.hidden_field :location, id: "location" %>

  <%= form.submit "Create Restaurant", class: "btn btn-dark" %>
<% end %>